@font-face {
    font-family: 'iconfont';  /* project id 237960 */
    src: url('//at.alicdn.com/t/font_pvjgp1phr33rqkt9.eot');
    src: url('//at.alicdn.com/t/font_pvjgp1phr33rqkt9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_pvjgp1phr33rqkt9.woff') format('woff'),
    url('//at.alicdn.com/t/font_pvjgp1phr33rqkt9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_pvjgp1phr33rqkt9.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.fui-upload {
    cursor: pointer;
}

.fui-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    z-index: 99;
}
.fui-upload_box {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -357px;
    width: 714px;
    min-height: 300px;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #333333;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 2px #333333 ;
}
.fui-close {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    font-weight: bold;
}
.fui-icon-del {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
    line-height: 12px;
    text-align: center;
    font-size: 16px;
    color: #E64340;
    cursor: pointer;
    display: none;
}

.fui-close:hover {
    background-color: #E64340;
    color: #fff;
}


.fui-upload_choose {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.fui-upload_drag {
    width: 360px;
    height: 120px;
    margin-left: 40px;
    border: 1px dotted #999999;
    position: relative;
}
.fui-upload_drag span {
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 110px;
    text-align: center;
}
.fui-upload_drag span:after {
    content: 'Drag Image';
    display: inline-block;
    float: left;
    color: #D9D9D9;
    font-size: 18px;
    text-align: center;
    line-height: 120px;
}
.fui-upload_drag span:before {
    content: '\e614';
    display: inline-block;
    float: left;
    font-family: iconfont;
    font-size: 40px;
    line-height: 120px;
    color: #D9D9D9;
}
.fui-upload_input-box {
    position: relative;
    margin-top: 40px;
    margin-left: 12px;
    width: 140px;
    height: 40px;
}
.fui-upload_input-box>div,
.fui-upload_input-box>input {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #E64340;
    border: 0;
    border-radius: 4px;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
}
.fui-upload_input-box>input {
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    background-color: #fff;
}

.fui-upload_input {

}
.fui-upload_status-bar {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}
.fui-upload_btn {

}
.fui-upload_add,
.fui-upload_submit {
    display: inline-block;
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-top: 6px;
    background-color: #fff;
    border: 1px solid #D9D9D9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 12px;
    cursor: pointer;
    font-size: 14px;
}
.fui-upload_submit {
    color: #fff;
    border: 1px solid #E64340;
    background-color: #E64340;
}

.fui-upload_info {
    margin-left: 12px;
    line-height: 48px;
}
.fui-upload_preview {
    width: 100%;
    padding: 0 0 0 12px;
    margin: 12px auto;
}
.fui-upload_preview_item {
    position: relative;
    width: 160px;
    height: 140px;
    border: 1px solid #D9D9D9;
    float: left;
    margin: 0 12px 12px 0;
    overflow: hidden;
}
.fui-upload_preview_item img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 6px;
    transform: translate(-50%, -50%);
}